body {
  font-family:  Helvetica, Arial, sans-serif;
}

.header-section {
  display: flex;
  background-image: url(images/tea_pic.jpg);
  height: 50vh;
}

.content {
  flex-grow: 1;
  }

.several-tea {
  color: rgb(83, 189, 83);
  margin-top: 5%;
  font-family: 'Great Vibes', cursive;
  letter-spacing: 0.2em;
}

.special-tea {
  color: white;
  line-height: 1.5;
  letter-spacing: 0.6em;
  font-size: 1.6em;
  margin-top: 50%;
  text-align: center;
}

.explore {
  background-color:  rgb(83, 189, 83);
  color: black;
  padding: 2%;
  width: fit-content;
  font-weight: bold;
  border: 1px solid rgb(83, 189, 83);
  margin-right: auto;
  margin-left: auto;
}

.line-grad {
  background-color: green;
  background-image: linear-gradient(to right, 
  rgb(83, 189, 83), rgb(83, 189, 83) 15%, brown, rgb(83, 189, 83));
  height: 5px;
  width: auto;
}

.made {
  background-color: aliceblue;
}

.mg-top {
  margin-top: 50px;
}

.icon-sec {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.m-nige {
  display: block;
  font-weight: bold;
  letter-spacing: 0.8em;
  text-align: center;
  color: rgb(83, 189, 83);
}

.lorem {
  line-height: 1.6;
  text-align: center;
}

.about-img {
  height: auto;
  max-width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 15%;
  border: rgb(83, 189, 83) 5px solid;
  border-radius: 10px;
}

.about {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 15%;
}

.testation {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.our {
  color: rgb(83, 189, 83);
  font-family: 'Great Vibes', cursive;
  letter-spacing: 0.6em;
}

.margin-l {
  margin-left: 10%;
}